.logo {
  position: fixed;
  z-index: 10;
  left: 50%;
  background-color:$redMain;
  transform: translate(-50%,0);
  transition: opacity .45s ease, background-color .3s ease;
  opacity: 0;
  @include adaptiveValue("top", 29, 14,0,1440,480.98);
  .loaded & {
    opacity: 1;
  }
  .fp-section-1 & {
    background-color:transparent;
  }
  // .fp-section-5 & {
  //   @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
  //     opacity: 0;
  //   }
  // }
  img {
    height: auto;
    @include adaptiveValue("width", 240, 140,0,1440,480.98);
  }
  @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
    top: toRem(6) !important;;
  }
}

.btn {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  width: 100%;

  @include adaptiveValue("padding-left", 60, 40,0,1480.98,480.98);
  @include adaptiveValue("padding-right", 60, 40,0,1480.98,480.98);
  @include adaptiveValue("padding-top", 11, 7,0,1480.98,480.98);
  @include adaptiveValue("padding-bottom", 11, 7,0,1480.98,480.98);
  span {
    position: relative;
    z-index: 3;
  }
  &:before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::before {
    background-color: $redMain;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);

  }
  &::after {
    top: toRem(5);
    left: toRem(5);
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
    z-index: 1;
    @media (max-width: toEm(1440.98)) and (orientation: portrait) {
      left: toRem(-2.5);
      width: calc(100% + 6px);
    }
  }
  // .btn_1
  &_1 {
    @include adaptiveValue("font-size", 44, 28,0,1440.98,480.98);
    .loaded & {
      animation: sh0 1.2s .2s 3 ease-in-out both;
    }
    @media (any-hover: hover){
      &:hover{
        animation-play-state: paused;
      }
    }
  }
  // .btn_2
  &_2 {
    min-height: toRem(97);
    @include adaptiveValue("font-size", 50, 38,0,1440.98,480.98);
    br {
      @media (min-width:$mobileSmall){
         display: none; 
      }
    }
  }
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  10% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  20% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  30% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  40% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}


.scroll {
  position: absolute;
  z-index: 5;
  bottom: toRem(40);
  left: 50%;
  transform: translate(-50%,0);
  width: toRem(35);
  height: toRem(76);

  pointer-events: none;
  opacity: 0;
  transition: opacity .65s ease;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: toRem(12);
    left: 0;
    bottom: 0;
    background-image: url('../img/icons/scroll-arr.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@keyframes an4 {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0,5px);
  }
  100% {
    transform: translate(0,0);
  }
}
